#main-nav{
    display: flex;
    position: fixed;
    background-color: white;
    z-index: 30;
    top: 0;
    left:0;
    width: 100%;
    border-bottom: 1px solid #888888;
    text-align: center;
}

#main-nav img{
    flex-grow: 0;
    width: 100px;
    height: 50px;
    padding: 10px 10px 0 10px;
}
#main-nav a{
    text-decoration: none;
    font-size: 1.5em;
    flex-grow: 2;
    color: black;
    padding: 0.5em 0 0.3em 0;
}

#main-nav a:hover{
    background-color: #00BFFF;
    color: white;
}

#main-nav-active{
    border-bottom: 15px solid #00BFFF;
}

.slider{
    display: block;
    width:100%;
}

.home-slides{
    width: 100%;
    max-height: 600px;
}

.home-search{
    position: absolute;
    z-index: 2;
    font-size: 2em;
    left: 30%;
    top: 35%;
}

.home-search input{
    border-radius: 5px;
    width: 400px;
    padding-left: 20px;
}

.home-search button{
    border-radius: 5px;
    border: none;
    color: white;
    background-color: darkorange;
    padding: 0 20px;
}

h2{
    color: #008dff;
}

.recommend-row{
    margin-bottom: 10px;
}

.recommend-div{
    padding: 20px 5px;
}

.recommend-div:hover{
    border: 1px solid #BBBBBB;
}

.footer{
    border-top: 1px solid #888888;
    padding: 0 20px;
    width: 100%;
    background-color: lightgrey;
}
.footer img{
   max-height: 48px;
    position: absolute;
}

.footer p{
    display: block;
    text-align: center;
}