/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
    font-family: "Helvetica Neue", sans-serif;
    padding: 4rem 2rem 2rem 2rem;
}

section:not([id]) {
    margin: 1em 0;
    padding: 0.5em 0;
    border-top: 1px solid #333;
}

section h3 {
    margin-bottom: 0;
}

section p {
    margin-top: 0;
}

section code {
    background-color: #EEE;
    padding: 0.5em 0.75em;
    line-height: 30px;
}

section .sample-code{
    margin-bottom: 0.5em;
}

/*Nav for change three pages*/
#main-nav{
    position: fixed;
    display: flex;
    background: white;
    top: 0;
    left:0;
    width: 100%;
    border-bottom: 1px solid #444444;
    text-align: center;
}
#main-nav a{
    text-decoration: none;
    font-size: 1.5em;
    flex-grow: 1;
    color: black;
    padding: 0.5em 0 0.3em 0;
}

#main-nav a:hover{
    background-color: #00BFFF;
    color: white;
}

#main-nav-active{
    border-bottom: 15px solid #00BFFF;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
    display: inline-block;
    padding: 0.5em 0.75em;
    color: black;
    background-color: white;
    border: none;
    text-decoration: none;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

.button-nav:hover, .button-nav:focus {
    background-color: #00BFFF;
    color: white;
    border-color: white;
}

.in-text-link{
    font-style: italic;
}

.button-submit{
    background-color: darkorange;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    padding: 0.5em 1em;
    border-radius: 15px;
}

.input-box{
    padding: 0.857em 1.214em;
    background-color: transparent;
    color: #818181;
    line-height: 1.286em;
    outline: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    border: 1px solid #888888;
}

/* 
  TEXT ELEMENTS -------------------
*/

.header-lv1{
    font-size: 30px;
}

.header-lv2{
    font-size: 24px;
    color: #008dff;
}

.header-lv3{
    font-size: 18px;
}

.text-p{
    font-size: 14px;
}

.ul-list{
    list-style-type: circle;
}

.ol-list {
    list-style-type: decimal;
}

/* 
  COMBINED ELEMENTS -------------------
*/

.main-nav{
    width: 100%;
    border-bottom: 1px solid #444444;
    margin-top: 20px;
    display: flex;
    text-align: center;
}

.main-nav a{
    text-decoration: none;
    font-size: 1.5em;
    flex-grow: 1;
    color: black;
    padding: 0.5em;
    margin: 0 15px;
}

.main-nav-active{
    border-bottom: 5px solid #00BFFF;
}

.main-nav a:hover{
    background-color: #00BFFF;
    color: white !important;
}

.recommend-div{
    padding: 20px 10px 50px 5px;
    width: 33%;
    margin: 10px 0;
}
.recommend-div:hover{
    border: 1px solid #BBBBBB;
}
.recommend-div img{
    width: 100%;
    height: 210px;
}

.recommend-div p{
    max-height: 100px;
    overflow: scroll;
}

.recommend-div h4{
   text-align: right;
    color: #00BFFF;
    font-size: 1.2em;
}

.recommend-div button{
    float: right;
    font-size: 1em;
}

/*Grid Structure*/
.row{
    width: 100%;
    margin: 10px 0;
}

.col-1{
    display: inline-block;
    position: relative;
    padding: 0 15px;
    width: 8.333333%;
    height: 50px;
    text-align: center;
    background-color: rgba(189, 167, 209, 0.5);
}

.col-2{
    display: inline-block;
    position: relative;
    padding: 0 15px;
    width: 16.666667%;
    height: 50px;
    text-align: center;
    background-color: rgba(189, 167, 209, 0.5);
}

.col-3{
    display: inline-block;
    position: relative;
    padding: 0 15px;
    width: 25%;
    height: 50px;
    text-align: center;
    background-color: rgba(189, 167, 209, 0.5);
}

.col-4{
    display: inline-block;
    position: relative;
    padding: 0 15px;
    width: 33.333333%;
    height: 50px;
    text-align: center;
    background-color: rgba(189, 167, 209, 0.5);
}

.col-6{
    display: inline-block;
    width: 50%;
    height: 50px;
    text-align: center;
    background-color: rgba(189, 167, 209, 0.5);
}

.col-12{
    display: inline-block;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: rgba(189, 167, 209, 0.5);
}
/*Color Selection*/
.p-color-blue{
    background-color: #008dff;
    height: 50px;
    width: 200px;
    display: inline-block;
}

.p-color-orange{
    background-color: darkorange;
    height: 50px;
    width: 200px;
    display: inline-block;
}

.p-color-grey{
    background-color: #888888;
    height: 50px;
    width: 200px;
    display: inline-block;
}

/*modal*/
.modal{
    z-index: 1000;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    display: none;
    background-color: rgba(0,0,0,0.6);
    margin: 0;
}

.modal-main{
    background-color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    border-radius: 10px;
    min-height: 300px;
    padding: 20px 40px;
}

.modal-main h3{
    text-align: center;
}
